#navbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #833ab4, #fc8476, #ea595b);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}
.nav2bar__logo {
  font-size: var(--font-large);
}
.nav2bar__logo i {
  margin: 0 8px;
  padding: 10px 5px;
}
.fa-twitter {
  color: #1d9bf0;
}
.navbar__menu {
  display: flex;
}
.navbar__menu ul {
  display: flex;
  font-size: 24px;
}
.navbar__menu__item {
  margin: 0px 14px;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: rgba(239, 228, 240, 0.2);
}

.nav2bar__logo i:hover {
  transform: scale(1.5);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

/* toggle button */
.fa-bars {
  position: absolute;
  right: 45px;
  top: 27px;
  font-size: 46px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .fa-bars {
    display: block;
  }
  #navbar {
    flex-direction: column;
  }
  .navbar__menu ul {
    flex-direction: column;
  }
  .nav2bar__logo {
    width: 100%;
  }
  .navbar__menu {
    text-align: center;
    display: none;
  }
}
