.work__caregories {
  margin: 48px;
}
.category__btn {
  border: 2px solid var(--color-dark-white);
  border-radius: 10px;
  padding: 8px 48px;
  font-size: var(--font-regular);
  cursor: pointer;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__btn:hover .work__categories--num,
.category__btn.active .work__categories--num {
  top: 0;
  opacity: 1;
  transition: all 1s var(--transition-durate);
}
.work__categories--num {
  margin-left: 5px;
  background-color: var(--color-orange);
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  line-height: 20px;
  position: relative;
  top: -20px;
  opacity: 0;
}

/* work projects */

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.work__project {
  width: 320px;
  height: 210px;
  margin: 5px;
  border: 1px solid var(--color-dark-white);
  position: relative;
  background-color: var(--color-light-white);
}

.work__project img {
  max-width: 300px;
  max-height: 200px;
  /* 이미지의 크기가 박스보다 커질수 없도록 제한하는 코드 */
}

.project__description {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(-10px);
}

.project__description h3::after {
  content: "";
  background-color: aliceblue;
  display: block;
  height: 2px;
  width: 45px;
  position: relative;
  left: 43%;
  margin: 10px 0px 0px 0px;
}

.project__description:hover {
  opacity: 0.7;
  transition: all 1s var(--transition-durate);
  transform: translateY(0px);
}
